@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

h1{
    color:#ba181b;
    font-size: 50px;
    text-align: center;
    font-family: roboto;
    text-decoration: underline;
}
h2{
    color: #ebc414d8;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}
h3{
    font-size: 20px;
    color: #0b2027;
    font-size: 20px;
}
p{
    color: #051923;
    font-size: 16px;
    text-align: justify;
    letter-spacing: 0.2px;
   word-spacing: 1.5px;
   line-height: 1.4;

}
a{
    color: #1a0dab;
   
}