@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*Universal selector starts*/

*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
}
/*Universal selector starts*/
body{
    font-family: 'Roboto', sans-serif;
}
/*Header CSS starts*/
.headerContainer {
    /* background-color: rgb(220, 215, 250); */
    text-align: center;
}

.headerWrapper{
    text-align: center;
    background-color: rgb(220, 215, 250);
    
}
/*Header CSS ends*/

/*Wrapper starts*/
.headerWrapper,
.sectionWrapper{
    max-width: 1200px;

}

.sectionWrapper{
    background-color:rgba(128, 128, 128, 0.575); 
    padding: 0 0 100px 0;
}
/*Wrapper ends*/

/*section CSS starts*/

/* .containerPlaces{
    background-color:rgba(133, 15, 15, 0.575);
} */
.containerPlaces h2{
    text-align: center;
    background-color: rgb(199, 199, 94);
    padding: 10px;

} 

.sectionWrapper .place1 {
    display:inline-block;
 width: 300px;
margin: 0 60px 0px 60px;

}
.sectionWrapper .place2{
    display:inline-block;
 width: 300px;
margin: 0 20px 0 20px;

}
.sectionWrapper .place3{
    display:inline-block;
 width: 300px;
margin: 10px 60px 0 60px;

}
.sectionWrapper h3{
    margin: 5px;
}
.sectionWrapper article{
    background-color: rgb(214, 206, 223);
    box-shadow: -2px -2px 17px -1px whitesmoke ;
    padding: 0 0 20px 0;
}

/*Paragraph CSS starts*/
.containerPlaces p{
    padding: 10px;
    margin: 0 0 20px 0;
   word-spacing: 2px;
   line-height: 1.4;
  
    
} 

/*anchor CSS starts*/
.containerPlaces a{
    color: firebrick;
    text-decoration: none;
    margin: 0 10px 0 0;
    padding: 5px;
   
}
.containerPlaces a:hover{
    color: blue;
    background-color: darkgrey;
}





/*section CSS ends*/