@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


*{
    margin: 0 auto;
    padding: 0 ;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
   background-color: white;
   font-family: 'Source Sans Pro', sans-serif;
}

/*Nav tag css starts*/
.navBar{
    padding: 0 40px 0 40px; 
}

.close{
    float: right;
}
/*Nav tag css ends*/

/*h2 tag css starts*/
.container form h2{
    margin: 10px 0 30px 0;
    color: black;
    border: 1px sold black;
    padding: 30px 0 0 30px;
    
}
/*h2 tag css ends*/

/*form starts*/
form{
    width: 480px;
    position:relative;
    top: 30px;
    left: 10px;
   
background-color: #FFFFFF;
border-radius: 15px;
border: 2px solid #e3e3e3;
box-shadow: 0px 0px 1px 1px #FFFFFF;

}

label{
    margin:  25px 0 20px 35px;
    /* background-color:burlywood ;
    border: 2px solid red; */
}
span.signUp{
    /* display: inline-block; */
    margin: 0 0 0 40%;
    /* float: right; */
    text-decoration: none;
    color: black;
}
span a{
    color:#059862 ;
    text-decoration: none;
    font-weight: 200;
}
.pwd{
 text-decoration: none;
 padding: 10px;
margin:0 1% 0 30%;
color: rgb(78, 76, 76);

}
.pwd:hover{
    color:#059862 ;
}


input{
    width: 420px;
    padding: 15px 0 14px 0;
    margin:  0 0 40px 25px;
    border-radius: 6px ;
    outline: none;
    border: 1px solid #ced4da;
}

input:hover{
    outline: 3px solid rgba(148, 214, 236, 0.747) ;
}

/*form ends*/

/*Login button starts*/
input.submit{
    border-radius: 20px;
    background-color: #059862;
    color: white;
    font-size: 18px;
    border: none; 
}
/*Login button ends*/
footer{
    margin: 60px 0 0 20px;
    text-align: center;
    color: rgba(40,42,53,.65);
    font-size: 13px;
}

footer a{
    color: rgba(40,42,53,.65);
}

